.idea/
.vscode/
node_modules/
public/
temp/
logs/

artifacts/
.nyc_output/
.quokka

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.DS_Store
package-lock.json
.npmrc
